<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daemo.myfirstapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lifecycle.ActivityA"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".lifecycle.ActivityB" />
        <activity android:name=".lifecycle.ActivityC" />
        <activity
            android:name=".lifecycle.DialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".fragments.FragmentsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".savingData.SavingActivity"
            android:label="@string/title_activity_saving_data"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".location.LocationActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>